.barra{
    float: right !important;
}
.botao{
    color: white !important;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.7rem;
}
.btnCliente{
    padding: .1rem .4rem;
}
.data{
    letter-spacing: 1px;
}
.iconsFA{
    font-size:35px;
    position: absolute;
    bottom: 5px;
}
section a{
    color: white;
}
.title{
    text-align: center;
    font-size: 30px;
}