<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoVarejo</title>

    @*<environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
    <title>Modal</title>

    <!-- Fontfaces CSS-->
    <link href="~/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css/theme.css" rel="stylesheet" media="all">
    <link href="~/css/style.css" rel="stylesheet" media="all">

    <!-- Awesome Icons Font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="~/index.html">
                            <img src="~/images/icon/logo_cdl.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fas fa-home"></i>Início
                            </a>
                        </li>
                        <li>
                            <a href="visaoGeral.html">
                                <i class="fas fa-chart-bar"></i>Visão Geral
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Pedido" asp-action="Index">
                                <i class="fa fa-shopping-cart"></i>Vendas
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="RelAbc">
                                <i class="fa fa-shopping-cart"></i>Relatorio ABC
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Cliente" asp-action="Index">
                                <i class="fa fa-users"></i>Clientes
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Vendedor" asp-action="Index">
                                <i class="fa fa-user"></i>Vendedores
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Produto" asp-action="Index">
                                <i class="fas fa-truck"></i>Produto
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Estoque" asp-action="Index">
                                <i class="fas fa-truck"></i>Estoque
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="~/images/icon/logo_cdl.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fas fa-home"></i>Início
                            </a>
                        </li>
                        <li>
                            <a href="visaoGeral.html">
                                <i class="fas fa-chart-bar"></i>Visão Geral
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Pedido" asp-action="Index">
                                <i class="fa fa-shopping-cart"></i>Vendas
                            </a>
                        </li>
                        @*<li>
            <a asp-area="" asp-controller="Home" asp-action="RelAbc">
                <i class="fas fa-chart-bar"></i>Relatorio ABC
            </a>
        </li>*@
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Relatorios">
                                <i class="fas fa-chart-bar"></i>Relatorios
                            </a>
                        </li>
                        @*<li>
            <a asp-area="" asp-controller="Home" asp-action="RelEstoqueAsync">
                <i class="fas fa-chart-bar"></i>Relatorio Estoque
            </a>
        </li>*@
                        <li>
                            <a asp-area="" asp-controller="Cliente" asp-action="Index">
                                <i class="fa fa-users"></i>Clientes
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Vendedor" asp-action="Index">
                                <i class="fa fa-user"></i>Vendedores
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Produto" asp-action="Index">
                                <i class="fas fa-truck"></i>Produto
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Estoque" asp-action="Index">
                                <i class="fas fa-truck"></i>Estoque
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Pagamento" asp-action="Index">
                                <i class="fas fa-truck"></i>Pagamento
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; 2018 - ProjetoVarejo</p>
                </footer>
            </div>

            <!-- HEADER DESKTOP-->
            @*<header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap barra">
                        <div class="header-button">

                            <div class="noti-wrap">
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-notifications"></i>
                                    <span class="quantity">3</span>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="notifi__title">
                                            <p>You have 3 Notifications</p>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c1 img-cir img-40">
                                                <i class="zmdi zmdi-email-open"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a email notification</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c2 img-cir img-40">
                                                <i class="zmdi zmdi-account-box"></i>
                                            </div>
                                            <div class="content">
                                                <p>Your account has been blocked</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c3 img-cir img-40">
                                                <i class="zmdi zmdi-file-text"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a new file</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__footer">
                                            <a href="#">All notifications</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>*@
        </div>
            @*<nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">ProjetoVarejo</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            @*<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>*@
            @*<li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="RelEstoqueAsync">Relatorio Estoque</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="RelAbc">Relatorio ABC</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="RelProdutosLiq">Relatorio Liquidação</a></li>
                                <li><a asp-area="" asp-controller="Cliente" asp-action="Index">Cliente</a></li>
                                <li><a asp-area="" asp-controller="Produto" asp-action="Index">Produto</a></li>
                                <li><a asp-area="" asp-controller="Pedido" asp-action="Index">Pedido</a></li>
                                <li><a asp-area="" asp-controller="Vendedor" asp-action="Index">Vendedor</a></li>
                                <li><a asp-area="" asp-controller="Estoque" asp-action="Index">Estoque</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>*@
       

            <environment include="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
            </environment>
            <environment exclude="Development">
                <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery"
                        crossorigin="anonymous"
                        integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
                </script>
                <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                        crossorigin="anonymous"
                        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
                </script>
                <script src="~/js/site.min.js" asp-append-version="true"></script>
            </environment>
            <!-- Jquery JS-->
            <script src="~/vendor/jquery-3.2.1.min.js"></script>
            <!-- Bootstrap JS-->
            <script src="~/vendor/bootstrap-4.1/popper.min.js"></script>
            <script src="~/vendor/bootstrap-4.1/bootstrap.min.js"></script>
            <!-- Vendor JS       -->
            <script src="~/vendor/slick/slick.min.js">
            </script>
            <script src="~/vendor/wow/wow.min.js"></script>
            <script src="~/vendor/animsition/animsition.min.js"></script>
            <script src="~/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
            </script>
            <script src="~/vendor/counter-up/jquery.waypoints.min.js"></script>
            <script src="~/vendor/counter-up/jquery.counterup.min.js">
            </script>
            <script src="~/vendor/circle-progress/circle-progress.min.js"></script>
            <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
            <script src="~/vendor/chartjs/Chart.bundle.min.js"></script>
            <script src="~/vendor/select2/select2.min.js">
            </script>

            <!-- Main JS-->
            <script src="~/js/main.js"></script>

            @RenderSection("Scripts", required: false)
</body>
</html>
