@{
    ViewData["Title"] = "Home Page";
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row m-t-25">
                <div class="col-sm-6 col-lg-4">
                    <div class="overview-item overview-item--c4">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-money"></i>
                                </div>
                                <div class="text">
                                    <h2>9.060,38</h2>
                                    <span>Total de Vendas</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="overview-item overview-item--c2">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </div>
                                <div class="text">
                                    <h2>388,688</h2>
                                    <span>Produtos Vendidos</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="overview-item overview-item--c1">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-money-off"></i>
                                </div>
                                <div class="text">
                                    <h2>10</h2>
                                    <span>Clientes Inadimplentes</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-sm-6 col-lg-4">
            <div class="overview-item overview-item--c1">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-money-off"></i>
                        </div>
                        <div class="text">
                            <h2>10</h2>
                            <span>Clientes Inadimplentes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 class="title-2">Desempenho de Vendas</h3><br>
                            <div class="chart-info">
                                <div class="chart-info__left">
                                    <div class="chart-note">
                                        <span class="dot dot--blue"></span>
                                        <span>valor de venda</span>
                                    </div>
                                    <div class="chart-note mr-0">
                                        <span class="dot dot--green"></span>
                                        <span>produtos</span>
                                    </div>
                                </div>
                                <div class="chart-info__right">
                                    <div class="chart-statis">
                                        <span class="index incre">
                                            <i class="zmdi zmdi-long-arrow-up"></i>25%
                                        </span>
                                        <span class="label">vendas</span>
                                    </div>
                                    <div class="chart-statis mr-0">
                                        <span class="index decre">
                                            <i class="zmdi zmdi-long-arrow-down"></i>10%
                                        </span>
                                        <span class="label">produtos</span>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-report__chart">
                                <canvas id="recent-rep-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="au-card chart-percent-card">
                        <div class="au-card-inner">
                            <h3 class="title-2 tm-b-5">Categorias mais vendidas</h3>
                            <div class="row no-gutters">
                                <div class="col-xl-6">
                                    <div class="chart-note-wrap">
                                        <div class="chart-note mr-0 d-block">
                                            <span class="dot dot--blue"></span>
                                            <span>roupas</span>
                                        </div>
                                        <div class="chart-note mr-0 d-block">
                                            <span class="dot dot--red"></span>
                                            <span>sapatos</span>
                                        </div>
                                        <div class="chart-note mr-0 d-block">
                                            <span class="dot dot--green"></span>
                                            <span>acessórios</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="percent-chart">
                                        <canvas id="percent-chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="title-1 m-b-25">Top Clientes</h2>
                    <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                        <div class="au-card-inner">
                            <div class="table-responsive">
                                <table class="table table-top-countries">
                                    <tbody>
                                        <tr>
                                            <td>Luis Sergio</td>
                                            <td class="text-right">$1,000.96</td>
                                        </tr>
                                        <tr>
                                            <td>Iago </td>
                                            <td class="text-right">874.65</td>
                                        </tr>
                                        <tr>
                                            <td>Emmanuel</td>
                                            <td class="text-right">657.22</td>
                                        </tr>
                                        <tr>
                                            <td>Felipe</td>
                                            <td class="text-right">$351.90</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h2 class="title-1 m-b-25">Top Vendedores</h2>
                    <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                        <div class="au-card-inner">
                            <div class="table-responsive">
                                <table class="table table-top-countries">
                                    <tbody>
                                        <tr>
                                            <td>João</td>
                                            <td class="text-right">$2,846.96</td>
                                        </tr>
                                        <tr>
                                            <td>Jeffersom</td>
                                            <td class="text-right">$1,261.65</td>
                                        </tr>
                                        <tr>
                                            <td>Mauricio</td>
                                            <td class="text-right">$1,099.22</td>
                                        </tr>
                                        <tr>
                                            <td>Ana</td>
                                            <td class="text-right">$740.90</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h2 class="title-1 m-b-25">Top Produtos</h2>
                    <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                        <div class="au-card-inner">
                            <div class="table-responsive">
                                <table class="table table-top-countries">
                                    <tbody>
                                        <tr>
                                            <td>Tenis Nike Shox</td>
                                            <td class="text-right">$866.96</td>
                                        </tr>
                                        <tr>
                                            <td>Camisa Barcelona</td>
                                            <td class="text-right">$285.65</td>
                                        </tr>
                                        <tr>
                                            <td>Bone New Era</td>
                                            <td class="text-right">$145.22</td>
                                        </tr>
                                        <tr>
                                            <td>Carteira Aguia</td>
                                            <td class="text-right">$74.90</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

