
@{
    ViewData["Title"] = "Relatorios";
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="card">
                                <a asp-area="" asp-controller="Home" asp-action="RelEstoqueAsync">
                                    <img class="card-img-top" src="~/images/bg-title-01.jpg" alt="Relatório Estoque.">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title mb-3">Relatório Estoque</h4>
                                    <p class="card-text">
                                        Relatório de Estoque
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="card">
                                <a asp-area="" asp-controller="Home" asp-action="RelProdutosLiq">
                                    <img class="card-img-top" src="~/images/bg-title-01.jpg" alt="Relatório de Liquidação">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title mb-3">Relatório de Liquidação</h4>
                                    <p class="card-text">
                                        Produtos Presentes em estoque no período superior a 120 dias.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <a asp-area="" asp-controller="Home" asp-action="RelAbc">
                                    <img class="card-img-top" src="~/images/bg-title-01.jpg" alt="Relatório da Curva ABC">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title mb-3">Relatório Curva ABC</h4>
                                    <p class="card-text">
                                        Curva ABC, onde A são produtos com mais giro, B o segundo com mais giro e C o terceiro.
                                    </p>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
